workflows/BackupWorkflow.json
{
  "updatedAt": "2026-02-04T10:09:35.069Z",
  "createdAt": "2026-02-02T12:47:21.444Z",
  "id": "0HmONtBA3wxUUxMGSnb7K",
  "name": "BackupWorkflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e1353758-c59d-4e42-9771-784165d39c63",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "600bc19a-87c7-49eb-bd9e-086b9fd24ff1",
      "name": "Get many workflows",
      "alwaysOutputData": false,
      "credentials": {
        "n8nApi": {
          "id": "lxr4Abc4Qbhu0PPU",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "BertramHansen",
          "mode": "list",
          "cachedResultName": "BertramHansen",
          "cachedResultUrl": "https://github.com/BertramHansen"
        },
        "repository": {
          "__rl": true,
          "value": "workflowBackups2",
          "mode": "list",
          "cachedResultName": "workflowBackups2",
          "cachedResultUrl": "https://github.com/BertramHansen/workflowBackups2"
        },
        "filePath": "=workflows/{{ $json.name }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "f918af2a-04e9-49f7-9e48-9ff98ce47eba",
      "name": "Get a file",
      "webhookId": "d14c386c-5203-4227-96c7-30e4b25b3be6",
      "credentials": {
        "githubApi": {
          "id": "zeG4o4KQ1vnYIGWn",
          "name": "GitHub account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4035c59-9917-4799-8b85-6c59df4b5f98",
              "leftValue": "={{ $json.sha }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "31c5cd4b-b4bd-4768-9534-0d130313a6d8",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "BertramHansen",
          "mode": "list",
          "cachedResultName": "BertramHansen",
          "cachedResultUrl": "https://github.com/BertramHansen"
        },
        "repository": {
          "__rl": true,
          "value": "workflowBackups2",
          "mode": "list",
          "cachedResultName": "workflowBackups2",
          "cachedResultUrl": "https://github.com/BertramHansen/workflowBackups2"
        },
        "filePath": "=workflows/{{ $node[\"Get many workflows\"].json.name }}.json",
        "fileContent": "={{ JSON.stringify($node[\"Get many workflows\"].json, null, 2) }}",
        "commitMessage": "Oprettet backup"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        880,
        128
      ],
      "id": "e4d8c181-b8e5-4747-b6c2-c5cb5467408c",
      "name": "Create a file",
      "webhookId": "a41ae944-08b0-4d04-a3a3-c2d402f5f2aa",
      "credentials": {
        "githubApi": {
          "id": "zeG4o4KQ1vnYIGWn",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "be7d124c-fe2b-491c-8998-5c2eb31fc590",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-02T12:47:21.505Z",
      "createdAt": "2026-02-02T12:47:21.505Z",
      "role": "workflow:owner",
      "workflowId": "0HmONtBA3wxUUxMGSnb7K",
      "projectId": "xtknxhyRXtEWkpIg"
    }
  ],
  "activeVersion": null,
  "tags": []
}